@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.App {
	text-align: center;
	background-color: black;
	color: #f0f0f0;
	height: 100vh;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.buy-a-coffee {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px auto;
}

.menu {
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.buy-choice {
	/* display: flex;
	flex-direction: column;
	justify-content: space-around; */
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	padding-top: 10px;
	text-align: center;
}

.coffee-choice {
	height: 80px;
	/* width: 80px; */
	margin: 5px;
	border: 1px solid gray;
	display: flex;
}

.coffee-choice:hover {
	box-shadow: 0 0 11px white;
}

.coffee-choice img {
	margin: 5px;
	/* height: 60px; */
}

.coffee-choice h1 {
	font-family: "Amatic SC", cursive;
	margin-left: 10px;
}

.coffee-choice-cost {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: 2em;
	margin: 18px 0;
	margin-left: auto;
}

.coffee-choice-cost sup {
	font-size: initial;
}

.invoice {
	height: 300px;
	background-color: whitesmoke;
	color: black;
	display: flex;
	flex-direction: column;
	justify-items: center;
	margin: 0 auto;
	max-width: 300px;
	border: 1px solid red;
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

.invoice img {
	width: 40px;
	height: 40px;
	margin: 5px auto;
}

.receipt {
	border: 1px solid black;
	margin: 5px;
	height: 100%;
	padding: 10px;
}

.receipt table {
	margin: 20px 10px;
	border-bottom: 1px dotted black;
}

.receipt th {
	border-bottom: 1px dotted black;
	margin: 5px;
	width: 90px;
}

.receipt td {
	padding: 5px 0px;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}
